/* RESET */

  html {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
  
/* TYPE */

  body {
    font-family: 'Amatic SC', 'Arial', sans-serif;
  }

  h1 {
    font-size: 3rem;
    line-height: 0rem;
  }

  h2 {
    font-size: 2.65rem;
    line-height: 0;
  }

  h3 {
    font-size: 2.35rem;
    line-height: 0;
  }

  h4 {
    font-size: 2rem;
    line-height: 0;
  }

  h5 {
    font-size: 1.65rem;
    line-height: 0;
  }

  h6 {
    font-size: 1.35rem;
    line-height: 0;
  }

  p {
      width: 60%;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'Arial', sans-serif;
  }

  i {
    display: inline-flex;
    margin-right: 0.5rem;
  }

  li {
    font-family: 'Arial', sans-serif;
    list-style-type: none;
  }

  em {
      font-size: 2 rem;
  }

/* PAGE STRUCTURE */

  body {
      width: 60%;
      margin: auto;
      font-family: 'Amatic SC', cursive;
      background-color: seashell;
    }

  /* HEADER */

    nav {
      display: flex;
      width: 100%;
      background-color: lightblue;
    }

    .logo {
      width: 100%;
      color: black;
      background-color: lightpink;
    }

    /* MENU */

        .nav-menu {
          display: flex;
          height: 20%;
          width: 100%;
          margin: auto;
          background-color: gray;
          color: white;
        }

        .nav-menu li {
          width:100%;
        }

  /* MAIN */

    main {
      width: 100%;
    }

    /* INTRO */

      #intro {

      }

      #about-me {
        background-color: lightblue;
      }


    /* SKILLS */

      .allSkills {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        width: 80%;
      }

      .skillset {
        width: 100%;
      }
      
      .fiveSkills {
        width: 100%;
      }

      #projects {
        background-color: lightblue;
      }

      .web-project {

      }


  /* FOOTER */

    footer {
      width: 100%;
      background-color: lightblue;
    }  

    .copyright {
      width:100%;
      font-size: 0.6rem;
      text-align: center;
    }

 

