/* BOX RESET */

  html {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
  
/* TYPE */

  body {
    font-family: 'Amatic SC', 'Arial', sans-serif;
  }

  h1 {
    font-size: 3rem;
    line-height: 1rem;
    font-weight: 700;
  }

  h2 {
    font-size: 2.65rem;
    line-height: 1;
    font-weight: 400;
  }

  h3 {
    font-size: 2.35rem;
    line-height: 1.2;
    font-weight: 400;
  }

  h4 {
    font-size: 2rem;
    line-height: 0;
    font-weight: 400;
  }

  h5 {
    font-size: 1.65rem;
    line-height: 1;
    font-weight: 400;
  }

  h6 {
    font-size: 1.35rem;
    line-height: 0;
    font-weight: 400;
  }

  a {
    color:black;
    text-align: center;
  }

  p {
    font-size: 0.95rem;
    line-height: 1.6rem;
    font-family: 'Arial', sans-serif;
  }

  i {
    font-size: 1.6rem;
    line-height: 1.1rem;
    text-align: center;
  }

  li {
    font-family: 'Arial', sans-serif;
    list-style-type: none;
  }

  em {
      font-size: 2rem;
  }

/* PAGE STRUCTURE */

  body {
    width: 60%;
    margin: auto;
    font-family: 'Amatic SC', cursive;
  }

    main {
      width: 100%;
    }

  /* intro */

    #intro {
      position:relative;
      top: 3rem;
      text-align: center;
      height: 250px;
    } 

    .logo-area {
      width: 8rem;
      margin: auto;
    }

    .logo {
      width: 80%;
    }

  /* separation-line */

    .separationLine {
      display: flex;
      width: 85%;
      margin:auto;
    }
  
    .divisionLine {
      display: inline-flex;
      margin:auto;
    }

  /* nav-menu */
    nav {
      display: flex;
      width: 100%;
    }

    .nav-menu {
      display: inline-flex;
      justify-content: space-around;
      width: 60%;
      margin: auto;
    }

    .nav-menu li {
      width:100%;
    }

  /* about me */

    #about-me {
      width: 80%;
      margin: auto;
      text-align: center;
    }

    #about-me p {
      width: 80%;
      margin: auto;
      text-align: center;
      padding-bottom: 1.2rem;
    }

    summary {
      margin: auto;
      text-align: center;
      font-size: 1.5rem;
      line-height: 2rem;
    }

    #timeCoding {
      width: 50%;
      margin: auto;
      text-align: center;
    }

    #time-container {
      font-weight: 700;
    }

  /* skills */

  #skills {
    width: 100%;
    margin: auto;
    text-align: center;
  }

  #skills h4 {
    margin-bottom: -0.8rem;
  }
  
    .allSkills {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;
      width: 80%;
      margin: auto;
}

    .skillset {
      width: 100%;
    }

    .skillset p {
      font-size: 0.7rem;
      line-height: 0.5rem;
    }
      
    .webSkills {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 8px;
      width: 100%;
    }

  /* projects } */

    #projects {
      width: 80%;
      margin: auto;
      text-align: center;
    }
    
    .twoProjects {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      width: 90%;
      margin: auto;
    }

    .web-project {
      margin: auto;
    }

    .pantallazo {
      width: 100%;
      margin: auto;
    }

    .screenShot {
      margin: auto;
      width: 100%;
      margin-bottom: -2rem;
    }

    details p {
      font-size: 0.8rem;
      line-height: 1.2;
    }

  /* contact */
  
    #contact {
      width: 80%;
      margin: auto;
      text-align: center;
      padding-bottom: 2rem;
    }

    .contactFlex {
      display: flex;
      width: 100%;
    }
    .contactIcons {
      width: 40%;
      display: inline-flex;
      justify-content: space-around;
      margin: auto;
    }

    .contactIcons .fa {
      padding: 1rem;
    }

  /* footer */

    footer {
      width: 80%;
      height: 30px;
      margin: auto;
      background-color: black;
    }  

    .copyright {
      width:100%;
      font-size: 0.6rem;
      text-align: center;
      padding-top: 5px;
      color: white;
    }