 /* BOX RESET */

 html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 
 /* LIGHT AND DARK MODE CUSTOM COLOR PROPERTIES */

  body {
    --icon-color: #cc4100;
    --text-color: #222;
    --bkg-color: #efefee;
    --anchor-color: #cc4100;
    --footer-text-color: gray;
    --footer-bkg-color: #222;
  }

  body.dark-theme {
    --text-color: #eee;
    --bkg-color: #121212;
    --anchor-color: #cc4100;
    --footer-text-color: #222;
    --footer-bkg-color: gray;
  }

/* TYPE */

  body {
    font-family: 'Amatic SC', 'Arial', sans-serif;
    color: var(--text-color);
    background: var(--bkg-color);
  }

  h1 {
    font-size: 3rem;
    line-height: 1rem;
    font-weight: 700;
  }

  /* h2 {
    font-size: 2.65rem;
    line-height: 0;
    font-weight: 400;
  } */

  h3 {
    font-size: 2.45rem;
    line-height: 1.45;
    font-weight: 400;
  }

  h4 {
    font-size: 2.1rem;
    line-height: 0;
    font-weight: 400;
  }

  h5 {
    font-size: 1.75rem;
    line-height: 0rem;
    font-weight: 400;
  }

  h6 {
    font-size: 1.35rem;
    line-height: 0;
    font-weight: 400;
    margin-left: 10px;
  }

  a {
    font-size: 0.95rem;
    line-height: 1.6rem;
    color: var(--anchor-color);
    text-align: center;
    transition: color 0.5s;
  }

  a:hover,
  a:focus {
    color: var(--footer-bkg-color);
  }

  p {
    font-size: 0.95rem;
    line-height: 1.6rem;
    font-family: 'Arial', sans-serif;
  }

  i {
    font-size: 1.6rem;
    line-height: 1.1rem;
    text-align: center;
    color: var(--icon-color);
  }

  li {
    font-family: 'Arial', sans-serif;
    list-style-type: none;
    margin-left: -48px;
  }


/* PAGE STRUCTURE */

  body {
    width: 60%;
    margin: auto;
    font-family: 'Amatic SC', cursive;
  }

    main {
      position: relative;
      top: 2rem;
      width: 100%;
    }

  /* intro */

    #intro {
      text-align: center;
      height: 250px;
    } 

    .logo-area {
      width: 8rem;
      margin: auto;
    }

    .logo {
      width: 80%;
    }

/* separation-line */

    #separationLine {
      width: 85%;
      margin:auto;
    }
  
    .divisionLine {
      margin:auto;
    }

  /* nav-menu */
    #navigation-menu {
      display: flex;
      width: 80%;
      margin: auto;
      margin-top: 2rem;
      align-items: center;
    }

    .nav-menu {
      display: inline-flex;
      justify-content:space-between;
      width: 60%;
      margin: auto;
    }

/* DARK MODE TOGGLE SWITCH */

    .fa-lightbulb {
      display: flex;
      width: 100%;
      margin: auto;
      align-items: center;
      margin-bottom: 0.5rem;
      margin-top: 2rem;
    }

    .theme-switch-wrapper {
      display: flex;
      width: 80%;
      margin: auto;
      margin-bottom: 2rem;
      align-items: center;
    }

    .theme-switch {
      display: inline-block;
      position: relative;
      width: 30px;
      height: 17px;
      margin: auto;
    }

    .theme-switch input {
      display:none;
    }

    .slider {
      background-color: #222;
      bottom: 0;
      cursor: pointer;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: .4s;
    }

    .slider:before {
      background-color: #fff;
      bottom: 2px;
      content: "";
      height: 13px;
      left: 2px;
      position: absolute;
      transition: .4s;
      width: 13px;
    }

    input:checked + .slider {
      background-color: var(--anchor-color);
    }

    input:checked + .slider:before {
      transform: translateX(13px);
    }

    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
} /* end dark mode switch */

  /* about me */

    #about-me {
      width: 80%;
      margin: auto;
      text-align: center;
    }

    #about-me p,
    #projects p {
      width: 80%;
      margin: auto;
      text-align: center;
      padding-bottom: 1.2rem;
    }

    summary {
      margin: auto;
      text-align: center;
      font-size: 1.5rem;
      line-height: 2rem;
    }

    #timeCoding {
      width: 50%;
      margin: auto;
      text-align: center;
    }

    #time-container {
      font-weight: 700;
    }

  /* skills */

    #skills {
      width: 100%;
      margin: auto;
      margin-bottom: 2rem;
      text-align: center;
    }
  
    .all-skills {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 8px;
      width: 80%;
      margin: auto;
      line-height: 0.5rem;
    }

    .skillset i {
      margin-top: 1.8rem;
    }

    .skillset-b {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 5px;
          width: 100%;
    }

   
    .web-skills {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 5px;
          width: 100%;
    }

    .skillset-a p,
    .skillset-b p {
      font-size: 0.7rem;
      line-height: 0.5rem;
    }



  /* projects } */

    #projects {
      width: 80%;
      margin: auto;
      text-align: center;
    }
    
    .twoProjects {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2%;
      width: 100%;
      margin: auto;
    }

    .web-project,
    pantallazo,
    .screenShot {
      width: 100%;
      margin: auto;
    }
    
    .enlace-web {
      margin-top: 3rem;
    }

  /* contact */
  
    #contact {
      width: 80%;
      margin: auto;
      text-align: center;
      padding-bottom: 2rem;
    }

    .contactFlex {
      display: flex;
      width: 100%;
    }
    .contactIcons {
      display: inline-flex;
      justify-content: space-around;
      margin: auto;
      width: 40%;
      margin-bottom: 2rem;
      padding: 1rem;
    }

    .contactIcons i {
      color: var(--icon-color);
      transition: color 0.5s;
    }

    .contactIcons i:hover {
      color: var(--footer-bkg-color);
    }


  /* footer */

    footer {
      width: 80%;
      height: 30px;
      margin: auto;
      background: var(--footer-bkg-color);
    }

    .copyright {
      width:100%;
      font-size: 0.6rem;
      text-align: center;
      color: var(--footer-text-color);
    }

  /* RESPONSIVENESS */

    @media only screen and (max-width: 900px) { 

      body {
        width: 100%;
      }

      .separationLine {
        width: 95%;
      }

      /* nav-menu */
      #navigation-menu {
        margin: auto;
        margin-top: 2rem;
      } 
  
      .nav-menu {
        display: block;
        text-align: center;
      }

      .fa-lightbulb {
        display: flex;
        width: 100%;
        margin: auto;
        align-items: center;
        margin-bottom: 0.5rem;
        margin-top: 2rem;
      }
                
      /* skills */

        .all-skills {
          display: block;
        }

      /* projects */

        #timeCoding,
        #about-me,
        #timeCoding,
        #skills,
        #projects,
        footer {
          width: 100%;
          margin: auto;
          text-align: center;
        }

        #skills {
          margin-bottom: 2rem;
        }

        .twoProjects {
          display:block;
          width: 100%;
          margin: auto;
        }

        .pantallazo {
          width: 70%;
          margin: auto;
          margin-top: 3rem;
        }     

        .contactIcons {
          width: 80%;
        }



    }